
header{
   background-color: rgb(255, 99, 71);
   color: rgb(10, 25, 47);
   width: 800px;
   height: 50px;
   vertical-align: middle;
   text-align: center;
   justify-content: center;
   margin: auto;
}
caption{
   font-style: italic;
   font-weight: bold;
}
 table{
    width: 800px;
    height: 800px;
    border: 3px solid black;
    margin: auto;
}   
 td{
    width: 200px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
 }
 td img{
    max-width: 95%;
    text-align: center;
    vertical-align: middle;

 }
 .aardappel-naam{
   background-color: rgb(222, 184, 135);
 }
 .aardappel-foto{
   background-color: rgb(245, 245, 220);
 }
 .suikerbiet-naam{
   background-color: rgb(144, 238, 144);
 }
 .suikerbiet-foto{
   background-color: rgb(224, 255, 224);
 }
 .graan-naam{
   background-color: rgb(245, 222, 179);
 }
 .graan-foto{
   background-color: rgb(255, 248, 220);
 }
 .zaaiui-naam{
   background-color: rgb(255, 204, 153);
 }
.zaaiui-foto{
   background-color: rgb(255, 239, 113);
}
.hennep-naam{
   background-color: rgb(107, 142, 35);
}
.hennep-foto{
   background-color: rgb(173, 255, 47);
}
.bloembollen-naam{
   background-color: rgb(255, 182, 193);
}
.bloembollen-foto{
   background-color: rgb(255, 228, 225);
}
.graszaad-naam{
   background-color: rgb(152, 251, 152);
}
.graszaad-foto{
   background-color: rgb(224, 255, 224);
}
.veldbonen-naam{
   background-color: rgb(205, 133, 63);
}
.veldbonen-foto{
   background-color: rgb(242, 244, 96);
}
footer{
   text-align: center;
   background-color: rgb(255, 255, 0);
   width: 800px;
   margin: auto;
}
a:hover{
   color: red;
}