

header {
    height: 50px;
    color: white;
    background-color: black;

   
}

nav {
    
    gap: 10px;
}

.nav-link { 
padding: 0.5rem 1rem; 
border: 2px solid white; 
border-radius: 4px; 
background-color: blue; 
color: white; 
text-decoration: none; 
display: inline-block; 
transition: background 0.25s; 
}


.welkomswoord  {
    text-align: center;
}

.nav-link:hover {
    background: white;
    color: blue;
}

.container {
    
    text-align: center;
}


.box {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}


.box small  {
    color: black;
}

.onderwijs {
    background-color: aqua;
}

.werkervaring {
    background-color: cadetblue;
}

.wonen {
    background-color: darkseagreen;
}

.vrijetijdsbesteding  {
    background-color: chartreuse;
}

.plaatje {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
    border: 3px;
    border-color: black;
}

footer {
   background-color: black;
   color: white;
   padding: 5px 5px;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 10px;
   font-family: "Segoe UI", Arial, sans-serif;

}

footer h2 {
   margin-top: 0;
   margin-bottom: 10px;
   font-size: 14px;
   color: white;
}

footer p {
   margin: 5px 0;
   font-size: 14px;
}

footer a {
   color: cornflowerblue;
   text-decoration: none;
}

footer a:hover {
   text-decoration: underline;
}

.footer-container {
   max-width: 800px;
   margin: 0 auto;
}

.divider {
   height: 1px;
   background-color: grey;
   margin: 5px 0;
}

small {
   color: white;
   font-size: 10px;
}


#contactformulier {
    background-color: #ffffff;
    border-radius: 10px;
}

#contactformulier .form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.3);
}

#contactformulier button {
    background-color: blue;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contactformulier button:hover {
    background-color: forestgreen;
}























