body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f8f9fa; 
    padding: 20px;
}

.container {
    text-align: center;
    align-items: center;
}


.col-auto  {
    
    background-color: chartreuse;
    
}


img.kerstgroet {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 12px;
    }

#cijferContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap; 
}

#formulier,
#cijferContainer label,
#cijferContainer p     {     
    margin: 0;
    font-weight: 600;
    color: black;
}


 #knop, #resultaat {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 10px;
}


#tekst,
#groet {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}



@media (max-width: 576px) {

    body {
        padding: 10px;
    }

    #cijferContainer {
        flex-direction: column;   
        align-items: flex-start;  
    }

    #cijferContainer label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;              
        max-width: 350px;
    }

    #knop,
    #resultaat {
        width: 100%;
        text-align: center;
    }

    .col-auto {
        width: 100%;
        padding: 10px;
    }
}






